{{ $page := .root }}
{{ $section := .page }}
<div class="universal-wrapper pt-3">
    <h1>{{ $section.Params.title }}</h1>
</div>
<style>
    .fb-feed-row {
        margin: 30px -15px !important;
    }

    .pagination-container {
        margin-top: 100px;
    }

    

    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    [type=reset],
    [type=submit],
    button,
    html [type=button] {
        -webkit-appearance: button;
    }

    .btn-outline-primary {
        color: #007bff;
        background-color: transparent;
        background-image: none;
        border-color: #007bff;
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    button,
    select {
        text-transform: none;
    }

    button,
    input {
        overflow: visible;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    button {
        border-radius: 0;
    }

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }
    .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    }
</style>
<div class="container body-container" id="news-card-container" style="padding-top: 20px">
    
        <div data-stellar-background-ratio="0.5">
            

            <div class="text text-left">
                <div>
                   
                        <span style="color: #1565c0;">
                            <strong>A. &nbsp; CyberThreat Intelligence - </strong>
                        </span>
                        <span style="color: #202020;font-size: .875em">
                            Cybersecurity threat intelligence is extracted from heterogeneous sources and comes in
                            structured and unstructured formats. Security analysts, despite strong expertise, cannot
                            always distinguish trustworthy threat vectors and intelligence from the rest. This results
                            in considerabletime expended downstream performing triage by researchers and analysts. My
                            research group isdoing fundamental work in Artificial Intelligence that targets the problem
                            of assigning automatedtrustworthiness to threat intelligence by addressing the following
                            specific aims:
                            <ul>
                                <li style="color: #202020;font-size: .875em">Aim 1 : Assigning trust and confidence
                                    scores to attack related knowledge at varying levels ofgranularity based on
                                    provenance and other deep probabilistic graphical modeling approaches.</li>
                                <li style="color: #202020;font-size: .875em">Aim 2 : Creating deep learning models for
                                    predicting malware behavior and help investigate pastand future attacks, and fill
                                    gaps or identify anomalies in collected information through dynamicgraph anomaly
                                    detection, link prediction and other novel approaches.</li>
                            </ul>
                        </span>

                        <span style="color: #333333; font-size: .85em"><strong>Role - Principal Investigator, Funding
                                Agency (2019-2021) - IBM, Dollar Amount - $350,000<br />Investigators: </strong> Dr.
                            Mohammed Zaki (RPI), Dr. Alex Gittens (RPI), Dr. Charu Aggarwal (IBM PI). <br /> Ph.D.
                            Student -&nbsp;Sharmishtha Dutta. <br />Undergrads - Destin Lee, Qicheng Ma, Chuqiao Gu
                            (Qiao), Sean Hale
                        </span>
                    </p>

                    <hr>

                    <p>
                        <span style="color: #1565c0;">
                            <strong>B. &nbsp; Autonomous Vehicles (S&amp;P)</strong>
                        </span>
                        <span style="color: #202020;font-size: .875em">
                            Autonomous vehicles (and existing human-driven vehicles) contain sensors that collect data
                            about the vehicle’s operation and its surroundings. For example, sensors in self-driving car
                            include cameras, radar, thermal imaging devices, and light detection and ranging (LIDAR)
                            devices that collect data about the environment outside the vehicle. This data helps
                            autonomous vehicles determine the objects it encounters, make predictions about the
                            environment, and take action based on these predictions. As data privacy and security
                            represent growing critical concerns, FL enables digital devices toc ollaboratively learn a
                            shared prediction model while keeping all the training data on the device, decoupling the
                            ability to do machine learning from the need to store the data in the cloud. However,FL is
                            not the magic bullet to privacy issues. Even holding an “anonymized” data set on the
                            cloudcan still put users’ privacy at risk via linkage to other data sets. The research
                            agenda is to addresssuch privacy concerns when training machine learning models.
                            <br />
                        </span>
                        <span style="color: #333333; font-size: .85em">
                            <strong>Role - Principal Investigator, Funding Agency (2022) - Toyota Infotech, Dollar
                                Amount - $70,000<br /></strong>Collaborators - Dr. Michael Clifford (Toyota Infotech
                            Lab, CA), Dr. Sara Sampazzi (University of Florida), Dr. Matt Bishop (UC Davis), Dr. Karl
                            Levitt (UC Davis), Dr. Miriam Heller.</span>

                    </p>

                    <hr>

                    <p>
                        <span style="color: #1565c0;">
                            <strong>C. &nbsp; Healthcare Analytics <a
                                    href="https://idea.rpi.edu/research/projects/heals" target="_blank"
                                    rel="noopener noreferrer">(HEALS)</a> - </strong>
                        </span>
                        <span style="color: #202020;font-size: .875em">
                            The primary goal of the HEALS (Health Empowerment by Analytics, Learning, and Semantics)
                            project is to apply advanced cognitive computing capabilities to help people understand and
                            improve their own health conditions. In particular, we are exploring areas including
                            personalized and mobile medical care, improved healthcare analytics, and new data-based
                            approaches to driving down the cost of medical care. The HEALS project is a joint <a
                                href="https://www.research.ibm.com/artificial-intelligence/" target="_blank"
                                rel="noopener noreferrer"> IBM-RPI </a> effort with close collaboration and transition.
                            <br>
                            I'm also interested in the following challenges tied to healthcare data: (1) data resides in
                            different locations (e.g., hospitals, physician offices', home-based devices, patients’
                            smartphones); (2) there is a growing availability of data, which makes scalable frameworks
                            important; and (3) aggregating data in a single database is infeasible or undesirable due to
                            scale and/or data privacy concerns.
                            <br />
                        </span>
                        <span style="color: #333333; font-size: .85em">
                            <strong>Role - Researcher</strong><br />Lead Investigator - Dr. Mohammed Zaki (RPI),
                            Principal Investigator (IBM) - Dr. Ching-Hua Chen, Researchers (RPI) - Dr. Oshani
                            Seneviraten, Dr. Dan Gruen.<br />Undergrads - Ruisi Jian. Alumni - Megan Goulet, Lydia Zhou,
                            Aaron Hill.</span>

                    </p>

                    <hr>

                    <p>
                        <span style="color: #1565c0;">
                            <strong>D. &nbsp; Exploratory Research - </strong>
                        </span>
                        <br />
                        <span style="color: #202020;font-size: .875em">
                            <strong>Privacy and Security of User Platforms - </strong>This exploratory project
                            undertakes different user platforms such as Chat applications, Cloud platform and evaluates
                            user data privacy conerns. Some of the applications I've evaluated are WhatsApp, Covid-19
                            apps, cloud platforms, etc.
                            <br />
                            <strong>Insider Threat - </strong> Insider threat is one of the most pernicious threat
                            vector to organizations across the world due to the elevated level of trust and access that
                            an insider is afforded. This type of threat can stem from both malicious and negligent
                            users. In this research, we propose a novel approach that uses system logs to detect insider
                            behavior using Deep Learning models. System logs are modeled as a natural language sequence
                            and patterns are extracted from these sequences. We create workflows of sequences of actions
                            that follow a natural language logic and control flow.
                        </span>
                        <span style="color: #333333; font-size: .85em">
                            <br />
                            <strong>Role - Researcher</strong><br />Collaborators - Dr. Kristine Gloria (Aspen).
                            <br />Undergrads - Qicheng Ma, Daniel Steven.
                        </span>

                    </p>

                    <hr>

                    <p>
                        <span style="color: #1565c0;">
                            <strong>E. &nbsp; Ph.D. Thesis - </strong>
                        </span>
                        <span style="color: #202020;font-size: .875em">
                            Threat and attack detection in large networks by identifying systemic anomalous behavior.
                            Identified anomalous data from a set of “important” nodes (instead of an entire system)
                            leveraging Graph Analytics and Machine Learning models. Used simulated (NS2) and real attack
                            dataset - Conficker to prove various hypothesis on systemic cyber attacks.

                            <br />
                        </span>
                        <span style="color: #333333; font-size: .85em">
                            <strong>Advisor - <a href="https://www.cs.rpi.edu/~hendler/" target="_blank"
                                    rel="noopener noreferrer">Dr. Jim A. Hendler</a>
                        </span>
                        </strong>
                    </p>
                </div>
        </div>