{{ $page := .root }}
{{ $section := .page }}

<div class="universal-wrapper pt-3">
    <h1>{{ $section.Params.title }}</h1>
  </div>
  
  <style>
    .fb-feed-row {
      margin: 30px -15px !important;
    }
  
    .pagination-container {
      margin-top: 100px;
    }
    .articles li .type {
    font-weight: bold;
    display: inline-block;
    width: max-content;
    padding: 0;
    margin: 0;
    }
    .articles li {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
    margin-top: 0.5em;
    }
    .articles li a{ 
    color: #90BADE;
    text-decoration: none;
    font-weight: bold;
    }
  </style>
  
  
  <div class="container body-container" id="service-card-container" style="padding-top: 20px">
    
</div>

<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="/files/swag.js"></script>



  <script>
    
    function initData(){
    Swag.registerHelpers(Handlebars);
    var context = new XMLHttpRequest();
    context.responseType = 'json';
    context.open('GET', "/files/service.json",true);
    context.onreadystatechange = function () {
        if (context.readyState === 4) {
        var html = window.template(this.response);
        document.getElementById('service-card-container').innerHTML=html;
    }
    };
    context.send();
    }

    initData();
  </script>
  <script src="/files/service-template.js"></script>